<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Blog Articles</h1> <!-- mb-4 stands for margin bottom of 4. -->

        <a href="/articles/new" class="btn btn-success">New Article</a> <!-- btn-success will give green color in the button.-->

        <!-- for each will go through all the key value -->
        <% articles.forEach(article => {
            %>
            <div class="card mt-4"> <!-- Creating card-->
                <div class="card-body"> <!-- Card content-->
                    <h4 class="card-title"> <%= article.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %>  <!-- this will create current date and the variable have to be new Date()-->
                    </div>

                    <!-- This is for text description-->
                    <div class="card-text mb-2">
                        <%= article.description %>
                    </div>

                    <!--show btn-->
                    <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>

                    <!--Adding delete button and form-->
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline"><button type="submit" class="btn btn-danger">Delete</button></form>
                </div>
            </div> 
            <%
        }) %>
    </div>
</body>
</html>